{% extends "ticket/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <br/>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'hot-issue-list' %}">Hot-issue</a></li>
                <li class="is-active"><a aria-current="page">{{ object.hi_name }}</a></li>
            </ul>
        </nav>
        <!-- Card -->
        <div class="card   ">
            <header class="card-header">
                <p class="card-header-title title">
                    {{ object.hi_name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p class="subtitle">{{ object.hi_description | slice:"2200" }}</p>
                    <p class="subtitle">{{ object.hi_last_update_by.get_full_name }}</p>
                    <br>
                    <time datetime="2016-1-1">{{ object.hi_date_added | date:"l, m/d/Y"}}</time>
                    <br>
                    <strong class="tag tag-info">{{ object.hi_status}}</strong>
                </div>
            </div>
            {% if request.user.is_staff %}
                <footer class="card-footer">
                    <a href="{% url 'hot-issue-delete' object.hi_id %}" class="card-footer-item">Delete</a>
                    <a href="{% url 'hot-issue-update' object.hi_id %}" class="card-footer-item">Edit</a>
                </footer>
            {% endif %}
        </div>



    </div>






{% endblock content %}
