{% extends "ticket/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <br/>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="breadcrumb-item text-primary"><a href="{% url 'hot-issue-list' %}">Hot-issues</a></li>
                {% if hotissue.hi_id %}
                    <li class="breadcrumb-item text-primary"><a href="{% url 'hot-issue-detail' hotissue.hi_id %}">Hot-issues {{ hotissue.hi_id }}</a></li>
                    <li class="breadcrumb-item" maxlength=7><a aria-current="page">Update {{ hotissue.hi_id }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active"> <a aria-current="page">New Hot Issue</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="columns box">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="column">
                    {{ form | crispy }}
                    <button class="button is-success" type="submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}
