{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <article class="message is-info">
        <div class="message-header">
            <div class="container">
                <h1 class="title has-text-white	">
                    Infohub
                </h1>
                <h2 class="subtitle has-text-white	">
                    Enter your email to reset your password
                </h2>
            </div>
            <button class="badge-info" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="button is-success" type="submit">Submit</button>
                <a href="{% url 'account_login' %}" class="button is-info" type="submit">Login here</a>
            </form>
        </div>
    </article>
{% endblock content %}
