{% load static %}
    {% if product_types.count > 0  %}
       <table class="table is-centered is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Code</th>
                        <th scope="col">Action</th>
                        </tr>
                </thead>

                    {% for prod_type in page_obj %}
                     <tbody>
                        <tr>
                            <td><a href="{% url 'product-type-detail' prod_type.prod_type_id %}">{{ prod_type.prod_type_name }}</a></td>
                            <td><a class="tag is-info" href=" ">{{ prod_type.prod_type_description }}</a></td>
                            <td><a  class="tag is-dark" href="">{{prod_type.prod_type_code }}</a></td>
                            <td>
                                <a  class="tag is-dark p-2" href="{% url 'product-type-detail' prod_type.prod_type_id %}">View</a>
                            {% if request.user.is_staff %}
                                <a  class="tag is-info p-2" href="{% url 'product-type-update' prod_type.prod_type_id %}">Update</a>
                                <a  class="tag is-danger p-2" href="{% url 'product-type-delete' prod_type.prod_type_id %}">Delete</a>
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
            </table>
                <span class="tag is-dark">Product type{{ page_obj.paginator.count | pluralize}}: {{ page_obj.paginator.count }} </span>
            <!--for pagination-->
            {% if page_obj.paginator.num_pages > 1 %}
                <nav class="pagination section" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <li>
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
                            {% endif %}
                        </li>
                        <li>
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li><a href="?page={{ num }}" class="pagination-link" aria-label="Goto page 1">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:2 %}
                                    <li><a href="?page={{ num }}" class="pagination-link">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                    </ul>
                </nav>
            {% endif %}
            <!--end pagination-->
    {% else %}
        <div class="notification is-info">
            <p class="display-5 alert alert-info">There are no product types to display. Click <a href="{% url 'product-type-create' %}" class="card-link">here</a> to create a product type.</p>
        </div>
    {% endif %}

