{% extends "ticket/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <br/>
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="breadcrumb-item text-primary"><a href="{% url 'module-list' %}">Modules</a></li>
                {% if module.mod_id %}
                    <li class="breadcrumb-item text-primary"><a href="{% url 'module-detail' module.mod_id %}">{{ module.mod_id }}</a></li>
                    <li class="breadcrumb-item" maxlength=7><a aria-current="page">Update</a></li>
                {% else %}
                    <li class="breadcrumb-item active"><a aria-current="page">New Module</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="columns">
            <form method="POST" class="box">
                {% csrf_token %}
                    {{ m_form | crispy }}
                    <button class="button is-success" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}
