{% load static %}
    <div class="container-fluid">
    {% if clients.count > 0 %}
         {% if clients %}
            <table class="table is-centered is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th scope="col" class="tbl-header text-justify">Name</th>
                        <th scope="col" class="text-justify">Address</th>
                        <th scope="col">Account Manager</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    {% for client in page_obj %}
                        <tbody>
                        <tr>
                            <td class="text-justify"><a
                                    href="{% url 'client-detail' client.client_id %}">{{ client.client_name }}</a>
                            </td>
                            <td class="text-justify">{{ client.client_address | slice:"2200" }}</td>
                            <td><a class="tag is-info" href="">{{ client.account_manager }}</a></td>
                            <td><a class="tag is-dark" href="">{{ client.client_status }}</a></td>
                            <td>
                                <a class="tag is-dark p-2"
                                   href="{% url 'client-detail' client.client_id %}">View</a>
                                {% if request.user.is_staff %}
                                    <a class="tag is-info p-2" href="{% url 'client-update' client.client_id %}">Update</a>
                                    <a class="tag is-danger p-2" href="{% url 'client-delete' client.client_id %}">Delete</a>
                                {% endif %}
                            </td>

                        </tr>
                        </tbody>
                    {% endfor %}
             </table>
                <span class="tag is-dark">Client{{ page_obj.paginator.count | pluralize}}: {{ page_obj.paginator.count }} </span>
            {% else %}
                <div class="notification is-info">
                    There are no <strong>client(s)</strong> to display.
                </div>
            {% endif %}
        {% else %}
            <div class="notification">
                <p class= " display-5 alert alert-info">There are no clients to display. Click <a
                    href="{% url 'client-create' %}" class="card-link">here</a> to create a client.
                </p>
            </div>
        {% endif %}


        <!--for pagination-->
        {% if page_obj.paginator.num_pages > 1 %}
            <nav class="pagination section" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    <li>
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
                        {% endif %}
                    </li>
                    <li>
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li><a href="?page={{ num }}" class="pagination-link" aria-label="Goto page 1">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:2 %}
                                <li><a href="?page={{ num }}" class="pagination-link">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                </ul>
            </nav>
        {% endif %}
        <!--end pagination-->
    </div>
